/*imports*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*reset*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}


/*variables*/

 :root {
    /*colores del sitio*/
    --colorheader: linear-gradient(to top, #ffd5c9, #f6b2a0, #eb9079, #dd6c54, #cd4631);
    --colornav: #ffd5c9;
    --colormain: linear-gradient(to bottom, #ffd5c9, #f6b2a0, #eb9079, #dd6c54, #cd4631);
    --colorlocate: #cd4631;
    --colorfooter: linear-gradient(to bottom, #ffd5c9, #f6b2a0, #eb9079, #dd6c54, #cd4631);
    --colorgallery: #c3d6e1;
    --colorturnbtm: #81adc8;
    /*fuentes*/
    --font-primary: 'Fredoka', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    /*tamaño de las fuentes*/
    --text-nav: 1.8em;
    --text-h1: 1.87em;
    --text-h2: 1.75em;
    --text-h3: 1.5em;
    --text-p: 0.8em;
    --text-a: 1em;
    /*color de las fuentes*/
    --colormenu: #CD4631;
    --colorp: #000;
    --colorh1: #DEA47E;
    --colorh2: #cd4631;
    --colorh3: #a09292;
    /*color del hoover*/
    --colorturn: #fff;
}


/*GRID*/

#page {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas: "header header header header header header header header header header header header" "nav nav nav nav nav nav nav nav nav nav nav nav" "main main main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer footer footer";
}

#page>header {
    grid-area: header;
}

#page>.menu {
    grid-area: nav;
}

#page>main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas: "ptitle ptitle" "bloque1 bloque1" "bloque2 bloque2" "turn turn" "locate locate";
    grid-area: main;
}

.encabezado__h1 {
    grid-area: ptitle;
}

.main__bloque1 {
    grid-area: bloque1;
}

.main__bloque2 {
    grid-area: bloque2;
}

.turn-buttom {
    grid-area: turn;
}

.locate {
    grid-area: locate;
}

#page>footer {
    grid-area: footer;
}


/*Globales*/

p {
    font-size: var(--text-p);
    font-family: var(--font-secondary);
    color: var(--colorp);
}

h1 {
    font-size: var(--text-h1);
    font-family: var(--font-primary);
    font-weight: bold;
}

h2 {
    font-size: var(--text-h2);
    font-family: var(--font-primary);
    color: var(--colorh2);
    font-weight: bold;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}


/*header*/

.header {
    min-width: 320px;
}

#gradh {
    background-image: var(--colorheader)
}

.header__a {
    display: flex;
    text-align: center;
    position: relative;
}

.header__logo:hover {
    transition: 5s;
    transform: rotate(355deg);
    transition-timing-function: ease;
}


/*Fin del Header*/


/*Menu de Navegación*/

.menu {
    background-color: var(--colornav);
}

.menu__ul {
    display: block;
    text-align: center;
}

.menu__li {
    display: inline-block;
    margin-left: 9px;
    margin-right: 9px;
    padding: 5px 10px;
    font-family: var(--font-primary);
    text-align: center;
    font-weight: bold;
    font-size: var(--text-nav);
    color: var(--colormenu);
}

.menu__a:hover {
    background-color: #f45e30;
    color: var(--colorturn);
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    transform: scale(1.3);
    transition: 1.5s;
}

.menu__a {
    text-decoration: none;
    color: inherit;
}


/*fin del Menu de Navegación*/


/* Main Index*/

#gradm {
    background-image: var(--colormain)
}

.encabezado__h1 {
    display: inline-flex;
    align-self: center;
    justify-self: center;
    color: var(--colorh1);
    font-size: var(--text-h1);
}

.encabezado__h1 img {
    width: 40px;
    height: 40px;
}

.main__bloque1 {
    display: inline-flex;
    align-items: center;
}

.main__bloque2 {
    display: inline-flex;
    align-self: center;
    padding-bottom: 15px;
}

#main__index h2 {
    text-align: left;
    align-self: center;
    justify-self: center;
}

.main__p {
    width: 350px;
    text-align: left;
    text-indent: 1.5em;
}

.main__img1 {
    height: 200px;
    width: auto;
}

.main__img2 {
    height: 200px;
    width: auto;
}


/*Fin de Main index*/


/*main Service y La Pelu*/

#service1 {
    display: flex;
    flex-direction: column;
}

#service2 {
    display: flex;
    flex-direction: column;
}

#service__txt {
    width: 660px;
}

#service_p {
    width: 660px;
}

#service__img1 {
    width: 660px;
    height: auto;
}

#service__img2 {
    width: 660px;
    height: auto;
}


/*fin Service Main y La Pelu*/


/*Galeria de fotos*/

#gallery_pic {
    width: 700px;
    align-items: center;
    margin-left: 50px;
}

#gallery_pic img {
    width: 150px;
}


/*fin de Galeria de fotos*/


/* Contactanos*/

#contact__menu {
    padding-left: 0px;
    margin-bottom: 0px;
}

#contact1_form input,
select {
    width: 600px;
}

#contact2 {
    padding-top: 10px;
}

.form-select {
    width: 600px;
}


/*fin de contactanos*/


/*boton turnos*/

.turn-buttom {
    background-color: var(--colorturnbtm);
    border-radius: 5px;
    padding: 5px 5px;
    width: fit-content;
    position: relative;
    margin: auto;
    margin-bottom: -19px;
    box-shadow: 1px 1px 1px 1px;
}

.turn-buttom__a {
    font-family: var(--font-primary);
    font-size: 1.3em;
    font-weight: 900;
    text-decoration: none;
    color: #000000;
}

.turn-buttom__a:hover {
    border-radius: 5px;
    color: var(--colorturn)
}


/* fin boton turnos*/


/*sector ubicacion y mapa*/

.locate {
    display: inline-flex;
    padding-top: 45px;
    padding-bottom: 30px;
    background-color: var(--colorlocate);
    width: 100%;
}

.locate__gmap {
    text-align: left;
    margin-bottom: 0;
}

.locate-contact {
    height: 220px;
}

.locate-contact h3 {
    text-align: left;
}

.gmap__iframe {
    height: 217px;
    margin-left: 15px;
}

.locate-contact ul {
    text-align: left;
    margin-left: 10px;
    list-style: none;
}

.locate-contact li {
    width: 300px;
    font-family: var(--font-secondary);
    font-size: var(--text-p);
    list-style: none;
}

.locate a {
    font-family: var(--font-secondary);
    font-size: var(--text-a);
    text-align: center;
}


/*fin sector ubicacion y mapa*/


/*footer*/

#gradf {
    background-image: var(--colorfooter)
}

footer {
    background-color: var(--colorfooter);
    min-width: 320px;
}

.pie p {
    font-family: var(--font-secondary);
    font-size: var(--text-p);
    text-align: center;
}

.pie a {
    font-family: var(--font-secondary);
    font-size: var(--text-p);
    text-align: center;
}


/*end footer*/


/*Query*/

@media only screen and (max-width: 720px) {
     :root {
        /*tamaño de las fuentes*/
        --text-nav: 1.4em;
        --text-h1: 1.7em;
        --text-h2: 1.6em;
        --text-h3: 1.5em;
        --text-p: 0.8em;
        --text-a: 1em;
    }
    /*MAIN */
    /* Main Index*/
    .encabezado__h1 {
        display: inline-flex;
        align-self: center;
        justify-self: center;
    }
    .encabezado__h1 img {
        width: 35px;
        height: 35px;
    }
    .main__bloque1 {
        flex-direction: column;
        align-items: center;
    }
    .main__bloque2 {
        flex-direction: column;
        align-self: center;
        padding-bottom: 15px;
    }
    .main__p {
        width: 490px;
    }
    .main__img1 {
        height: 355px;
        width: auto;
    }
    .main__img2 {
        height: 355px;
        width: auto;
    }
    /*Fin de Main index*/
    /*main Service*/
    #service1 {
        display: flex;
        flex-direction: column;
    }
    #service2 {
        display: flex;
        flex-direction: column;
    }
    #service__txt {
        width: 550px;
    }
    #service_p {
        width: 550px;
    }
    #service__img1 {
        width: 550px;
        height: auto;
    }
    #service__img2 {
        width: 550px;
        height: auto;
    }
    /*fin Service Main*/
    /*Galeria de fotos*/
    #gallery_pic {
        width: 600px;
        align-items: center;
        margin-left: 50px;
    }
    #gallery_pic img {
        width: 120px;
    }
    /*fin de Galeria de fotos*/
    /*sector ubicacion y mapa*/
    .locate {
        flex-direction: column;
        padding-top: 45px;
        padding-bottom: 0px;
    }
    .locate__gmap {
        text-align: left;
        margin-bottom: 0;
    }
    .locate-contact {
        padding-top: 10px;
        height: 220px;
    }
    /*fin sector ubicacion y mapa*/
}

@media only screen and (max-width: 640px) {
     :root {
        /*tamaño de las fuentes*/
        --text-nav: 1.5em;
        --text-h1: 1.8em;
        --text-h2: 1.6em;
        --text-h3: 1.5em;
        --text-p: 0.9em;
        --text-a: 1em;
    }
    /*MAIN */
    /* Main Index*/
    .encabezado__h1 {
        display: inline-flex;
        align-self: center;
        justify-self: center;
    }
    .encabezado__h1 img {
        width: 30px;
        height: 30px;
    }
    .main__bloque1 {
        flex-direction: column;
        align-items: center;
    }
    .main__bloque2 {
        flex-direction: column;
        align-self: center;
        padding-bottom: 15px;
    }
    .main__p {
        width: 550px;
    }
    .main__img1 {
        height: 400px;
        width: auto;
    }
    .main__img2 {
        height: 400px;
        width: auto;
    }
    /*Fin de Main index*/
    /*main Service*/
    #service1 {
        display: flex;
        flex-direction: column;
    }
    #service2 {
        display: flex;
        flex-direction: column;
    }
    #service__txt {
        width: 550px;
    }
    #service_p {
        width: 550px;
    }
    #service__img1 {
        width: 550px;
        height: auto;
    }
    #service__img2 {
        width: 550px;
        height: auto;
    }
    /*fin Service Main*/
    /*sector ubicacion y mapa*/
    .locate {
        flex-direction: column;
        padding-top: 45px;
        padding-bottom: 0px;
    }
    .locate__gmap {
        text-align: left;
        margin-bottom: 0px;
        width: 450px;
    }
    .gmap__iframe {
        margin-left: 0px;
        width: 450px;
    }
    .locate-contact {
        width: 450px;
        margin-left: 5px;
        padding-top: 10px;
        height: 200px;
    }
    /*fin sector ubicacion y mapa*/
}

@media only screen and (max-width: 480px) {
     :root {
        /*tamaño de las fuentes*/
        --text-nav: 1.2em;
        --text-h1: 1.5em;
        --text-h2: 1.4em;
        --text-h3: 1.5em;
        --text-p: 0.9em;
        --text-a: 1.1em;
    }
    /*Menu de Navegación*/
    .menu__li {
        margin-left: 0px;
        margin-right: 0px;
    }
    /*fin del Menu de Navegación*/
    /*MAIN */
    /* Main Index*/
    .encabezado__h1 {
        padding-top: 5px;
        display: inline-flex;
        align-self: center;
        justify-self: center;
    }
    .encabezado__h1 img {
        width: 27px;
        height: 27px;
    }
    .main__bloque1 {
        flex-direction: column;
        align-items: center;
    }
    .main__bloque2 {
        flex-direction: column;
        align-self: center;
        padding-bottom: 15px;
    }
    .main__p {
        width: 350px;
        padding-bottom: 5px;
    }
    .main__img1 {
        height: 260px;
        width: auto;
    }
    .main__img2 {
        height: 260px;
        width: auto;
    }
    /*Fin de Main index*/
    /*main Service*/
    #service1 {
        display: flex;
        flex-direction: column;
    }
    #service2 {
        display: flex;
        flex-direction: column;
    }
    #service__txt {
        width: 410px;
    }
    #service_p {
        width: 410px;
    }
    #service__img1 {
        width: 410px;
        height: auto;
    }
    #service__img2 {
        width: 410px;
        height: auto;
    }
    /*fin Service Main*/
    /*Galeria de fotos*/
    #gallery_pic {
        width: 310px;
        align-items: center;
        margin-left: 0px;
    }
    #gallery_pic img {
        width: 150px;
    }
    /*fin de Galeria de fotos*/
    /*FIN DE MAIN*/
    /*sector ubicacion y mapa*/
    .locate {
        flex-direction: column;
        padding-top: 45px;
        padding-bottom: 0px;
    }
    .locate__gmap {
        text-align: left;
        margin-bottom: 0px;
        width: 350px;
    }
    .gmap__iframe {
        margin-left: 0px;
        width: 350px;
    }
    .locate-contact {
        padding-top: 10px;
        width: 375px;
        height: 200px;
    }
    /*fin sector ubicacion y mapa*/
}

@media only screen and (max-width: 320px) {
     :root {
        /*tamaño de las fuentes*/
        --text-nav: 0.9em;
        --text-h1: 1.2em;
        --text-h2: 1.1em;
        --text-h3: 1.5em;
        --text-p: 0.6em;
        --text-a: 1em;
    }
    /*Menu de Navegación*/
    .menu__li {
        margin-left: 2px;
        margin-right: 2px;
        padding: 4px 1px 4px 1px;
    }
    /*fin del Menu de Navegación*/
    /*MAIN */
    /* Main Index*/
    .encabezado__h1 {
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-flex;
        align-self: center;
        justify-self: center;
    }
    .encabezado__h1 img {
        width: 27px;
        height: 27px;
    }
    .main__bloque1 {
        flex-direction: column;
        align-items: center;
    }
    .main__bloque2 {
        flex-direction: column;
        align-self: center;
        padding-bottom: 15px;
    }
    .main__p {
        width: 285px;
        padding-bottom: 5px;
    }
    .main__img1 {
        height: 205px;
        width: auto;
    }
    .main__img2 {
        height: 205px;
        width: auto;
    }
    /*Fin de Main index*/
    /*main Service*/
    #service1 {
        display: flex;
        flex-direction: column;
    }
    #service2 {
        display: flex;
        flex-direction: column;
    }
    #service__txt {
        width: 290px;
    }
    #service_p {
        width: 290px;
    }
    #service__img1 {
        width: 290px;
        height: auto;
    }
    #service__img2 {
        width: 290px;
        height: auto;
    }
    /*fin Service Main*/
    /*Galeria de fotos*/
    #gallery_pic {
        width: 310px;
        align-items: center;
        margin-left: 0 auto;
    }
    #gallery_pic img {
        width: 250px;
    }
    /*fin de Galeria de fotos*/
    /*FIN DE MAIN*/
    /*sector ubicacion y mapa*/
    .locate {
        flex-direction: column;
        padding-top: 45px;
        background-color: var(--colorlocate);
        padding-bottom: 0px;
    }
    .locate__gmap {
        text-align: left;
        margin-bottom: 0;
        width: 290px;
    }
    .gmap__iframe {
        margin-left: 0px;
        width: 290px;
    }
    .locate-contact {
        padding-top: 10px;
        height: 200px;
        padding-left: 0px;
        text-align: left;
    }
    /*fin sector ubicacion y mapa*/
}