/*imports*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*reset*/

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
}


/*variables*/

 :root {
    /*colores del sitio*/
    --colorheader: #ffd5c9;
    --colornav: #ffd5c9;
    --colormain: #f8f2dc;
    --colorlocate: #cd4631;
    --colorfooter: #ffd5c9;
    --colorgallery: #c3d6e1;
    /*fuentes*/
    --font-primary: 'Fredoka', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    /*tamaño de las fuentes*/
    --text-nav: 1.5em;
    --text-h1: 1.7em;
    --text-h2: 1.5em;
    --text-h3: 1.5em;
    --text-p: 0.8em;
    --text-a: 1em;
    /*color de las fuentes*/
    --colormenu: #CD4631;
    --colorp: #000;
    --colorh1: #DEA47E;
    --colorh2: #a09292;
    --colorh3: #a09292;
    /*color del hoover*/
    --colorturn: #fff;
}


/*GRID*/

#page {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas: "header header header header header header header header header header header header" "nav nav nav nav nav nav nav nav nav nav nav nav" "main main main main main main main main main main main main" "footer footer footer footer footer footer footer footer footer footer footer footer";
}

#page>header {
    grid-area: header;
    background-color: var(--colorheader);
}

#page>.menu {
    grid-area: nav;
    background-color: var(--colornav);
}

#page>main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas: "ptitle ptitle" "bloque1 bloque1" "bloque2 bloque2" "turn turn" "locate locate";
    grid-area: main;
    background-color: var(--colormain);
}

.encabezado__h1 {
    grid-area: ptitle;
}

.main__bloque1 {
    grid-area: bloque1;
}

.main__bloque2 {
    grid-area: bloque2;
}

.turn-buttom {
    grid-area: turn;
}

.locate {
    grid-area: locate;
}

#page>footer {
    grid-area: footer;
}


/*Globales*/

p {
    font-size: var(--text-p);
    font-family: var(--font-secondary);
    color: var(--colorp);
}

h1 {
    font-size: var(--text-h1);
    font-family: var(--font-primary);
}

h2 {
    font-size: var(--text-h2);
    font-family: var(--font-primary);
    color: var(--colorh2);
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}


/*header*/

.header {
    background-color: var(--colorheader);
    min-width: 320px;
}

.header__a {
    display: block;
    text-align: center;
}


/*Fin del Header*/


/*Menu de Navegación*/

.menu {
    border-bottom-style: outset;
    border-bottom-width: 4px;
}

.menu__ul {
    display: block;
    text-align: center;
}

.menu__li {
    display: inline-block;
    margin-left: 9px;
    margin-right: 9px;
    padding: 5px 10px;
    font-family: var(--font-primary);
    text-align: center;
    font-weight: bold;
    font-size: var(--text-nav);
    color: var(--colormenu);
}

.menu .menu__li:hover {
    background-color: #f45e30;
    color: #000;
    border-radius: 5px;
    padding: 1px 1px 4px 4px;
}

.menu__a {
    text-decoration: none;
    color: inherit;
}


/*fin del Menu de Navegación*/


/* Main Index*/

.encabezado__h1 {
    display: inline-flex;
    align-self: center;
    justify-self: center;
    color: var(--colorh1);
    font-size: var(--text-h1);
}

.encabezado__h1 img {
    width: 40px;
    height: 40px;
}

.main__bloque1 {
    display: inline-flex;
    align-items: center;
}

.main__bloque2 {
    display: inline-flex;
    align-self: center;
    padding-bottom: 15px;
}

#main__index h2 {
    text-align: left;
    align-self: center;
    justify-self: center;
}

.main__p {
    width: 350px;
    text-align: left;
    text-indent: 1.5em;
}

.main__index picture {}

.main__img1 {
    height: 200px;
    width: auto;
}

.main__img2 {
    height: 200px;
    width: auto;
}


/*Fin de Main index*/


/*main Service*/

#main__service {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "ptitle" "bloque1" "img1" "bloque2" "img2";
    width: 100vw;
    min-width: 480px;
    margin-bottom: 5px;
}

#main__service>.encabezado__h1 {
    grid-area: ptitle;
}

#main__service>.service__bloque1 {
    grid-area: bloque1;
}

#main__service>.service__img1 {
    grid-area: img1;
}

#main__service>.service__bloque2 {
    grid-area: bloque2;
}

#main__service>.service__img2 {
    grid-area: img2;
}

#main__service {
    align-self: center;
    text-align: center;
}

#main__service h2 {
    text-align: left;
    align-self: center;
    justify-self: center;
}

.service__bloque1 {
    width: 590px;
    padding-bottom: 0px;
    align-self: center;
    justify-self: center;
    margin-bottom: 5px;
    margin-left: 45px;
}

.service__bloque2 {
    width: 590px;
    padding-bottom: 0px;
    align-self: center;
    justify-self: center;
    margin-bottom: 5px;
    margin-left: 45px;
}

.service__p {
    width: 530px;
    text-align: left;
    text-indent: 1.5em;
    ;
}

.service__img1 {
    width: 530px;
    margin-bottom: 7px;
    margin-left: -12px;
}

.service__img2 {
    width: 530px;
    margin-bottom: 7px;
    margin-left: -12px;
}


/*fin Service Main*/


/*Galeria de fotos*/

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
}

#gallery__img {
    width: 132px;
    object-fit: cover;
}


/*fin de Galeria de fotos*/


/* Contactanos*/

#main__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "ptitle ptitle" "form loc";
    width: 100vw;
    min-width: 1080x;
    margin-bottom: 5px;
}

#main__contact>.encabezado__h1 {
    grid-area: ptitle;
}

#main__contact>.turnform {
    grid-area: form;
}

#main__contact>.contac_map {
    grid-area: loc;
}

.turnform {
    background-color: var(--colorlocate);
    height: 300px;
}

.turnform form {
    width: 200px;
}

.contac_map {
    background-color: var(--colorlocate);
    height: 300px;
    display: inline-flex;
    padding: 10px;
}


/*fin de contactanos*/


/*boton turnos*/

.turn-buttom {
    background-color: var(--colorh2);
    border-radius: 5px;
    padding: 5px 5px;
    width: fit-content;
    position: relative;
    margin: auto;
    margin-bottom: -19px;
    box-shadow: 1px 1px 1px 1px;
}

.turn-buttom__a {
    font-family: var(--font-primary);
    font-size: 1.3em;
    font-weight: 900;
    text-decoration: none;
    color: #000000;
}

.turn-buttom .turn-buttom__a:hover {
    background-color: var(--colorh1);
    border-radius: 5px;
    color: var(--colorturn)
}


/* fin boton turnos*/


/*sector ubicacion y mapa*/

.locate {
    display: inline-flex;
    padding-top: 45px;
    padding-bottom: 30px;
    background-color: var(--colorlocate);
    width: 100%;
}

.locate__gmap {
    text-align: left;
    margin-bottom: 0;
}

.locate-contact {
    height: 220px;
}

.locate-contact h3 {
    text-align: left;
}

.gmap__iframe {
    height: 217px;
    margin-left: 15px;
}

.locate-contact ul {
    text-align: left;
    margin-left: 10px;
    list-style: none;
}

.locate-contact li {
    width: 300px;
    font-family: var(--font-secondary);
    font-size: var(--text-p);
    list-style: none;
}

.locate a {
    font-family: var(--font-secondary);
    font-size: var(--text-a);
    text-align: center;
}


/*fin sector ubicacion y mapa*/


/*footer*/

footer {
    background-color: var(--colorfooter);
    min-width: 320px;
}

.pie p {
    font-family: var(--font-secondary);
    font-size: var(--text-p);
    text-align: center;
}

.pie a {
    font-family: var(--font-secondary);
    font-size: var(--text-p);
    text-align: center;
}


/*end footer*/


/*Query*/

@media only screen and (max-width: 600px) {
     :root {
        /*tamaño de las fuentes*/
        --text-nav: 1em;
        --text-h1: 1.5em;
        --text-h2: 1.3em;
        --text-h3: 1.5em;
        --text-p: 0.7em;
        --text-a: 1em;
    }
    /*MAIN */
    /* Main Index*/
    .encabezado__h1 {
        display: inline-flex;
        align-self: center;
        justify-self: center;
    }
    .encabezado__h1 img {
        width: 30px;
        height: 30px;
    }
    .main__bloque1 {
        flex-direction: column;
        align-items: center;
    }
    .main__bloque2 {
        flex-direction: column;
        align-self: center;
        padding-bottom: 15px;
    }
    .main__img1 {
        height: 250px;
        width: auto;
    }
    .main__img2 {
        height: 250px;
        width: auto;
    }
    /*Fin de Main index*/
    /*sector ubicacion y mapa*/
    .locate {
        flex-direction: column;
        padding-top: 45px;
        padding-bottom: 0px;
    }
    .locate__gmap {
        text-align: left;
        margin-bottom: 0;
    }
    .locate-contact {
        padding-top: 10px;
        height: 220px;
    }
    /*fin sector ubicacion y mapa*/
}

@media only screen and (max-width: 480px) {
     :root {
        /*tamaño de las fuentes*/
        --text-nav: 1.2em;
        --text-h1: 1.5em;
        --text-h2: 1.4em;
        --text-h3: 1.5em;
        --text-p: 0.9em;
        --text-a: 1.1em;
    }
    /*Menu de Navegación*/
    .menu__li {
        margin-left: 0px;
        margin-right: 0px;
    }
    /*fin del Menu de Navegación*/
    /*MAIN */
    /* Main Index*/
    .encabezado__h1 {
        padding-top: 5px;
        display: inline-flex;
        align-self: center;
        justify-self: center;
    }
    .encabezado__h1 img {
        width: 27px;
        height: 27px;
    }
    .main__bloque1 {
        flex-direction: column;
        align-items: center;
    }
    .main__bloque2 {
        flex-direction: column;
        align-self: center;
        padding-bottom: 15px;
    }
    .main__p {
        width: 350px;
        padding-bottom: 5px;
    }
    .main__img1 {
        height: 260px;
        width: auto;
    }
    .main__img2 {
        height: 260px;
        width: auto;
    }
    /*Fin de Main index*/
    /*sector ubicacion y mapa*/
    .locate {
        flex-direction: column;
        padding-top: 45px;
        background-color: var(--colorlocate);
        padding-bottom: 030;
    }
    .locate__gmap {
        text-align: left;
        margin-bottom: 0px;
        width: 350px;
    }
    .gmap__iframe {
        margin-left: 0px;
        width: 350px;
    }
    .locate-contact {
        padding-top: 10px;
        height: 200px;
    }
    /*fin sector ubicacion y mapa*/
}

@media only screen and (max-width: 320px) {
     :root {
        /*tamaño de las fuentes*/
        --text-nav: 0.7em;
        --text-h1: 1.2em;
        --text-h2: 1.1em;
        --text-h3: 1.5em;
        --text-p: 0.6em;
        --text-a: 1em;
    }
    /*Menu de Navegación*/
    .menu__li {
        margin-left: 0px;
        margin-right: 0px;
    }
    /*fin del Menu de Navegación*/
    /*MAIN */
    /* Main Index*/
    .encabezado__h1 {
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-flex;
        align-self: center;
        justify-self: center;
    }
    .encabezado__h1 img {
        width: 27px;
        height: 27px;
    }
    .main__bloque1 {
        flex-direction: column;
        align-items: center;
    }
    .main__bloque2 {
        flex-direction: column;
        align-self: center;
        padding-bottom: 15px;
    }
    .main__p {
        width: 300px;
        padding-bottom: 5px;
    }
    .main__img1 {
        height: 220px;
        width: auto;
    }
    .main__img2 {
        height: 220px;
        width: auto;
    }
    /*Fin de Main index*/
    /*sector ubicacion y mapa*/
    .locate {
        flex-direction: column;
        padding-top: 45px;
        background-color: var(--colorlocate);
        padding-bottom: 0px;
    }
    .locate__gmap {
        text-align: left;
        margin-bottom: 0;
    }
    .gmap__iframe {
        margin-left: 0px;
    }
    .locate-contact {
        padding-top: 10px;
        height: 200px;
        padding-left: 0px;
        text-align: left;
    }
    /*fin sector ubicacion y mapa*/
}