/*footer*/

footer {
    width: 100%;
    background-color: map-get($pallete, colorfooter);
    p {
        width: 90%;
        font-family: $font-secondary;
        font-size: map-get($fsize, text-p);
        text-align: center;
    }
    a {
        display: block;
        text-align: center;
        position: relative;
        font-family: $font-secondary;
        font-size: map-get($fsize, text-p);
        text-align: center;
    }
    img:hover {
        transition: 5s;
        transform: rotate(355deg);
        transition-timing-function: ease;
    }
}


/*end footer*/